<div>
  <h1>User info</h1>
  <%= image_tag current_user.get_profile_image(100, 100) %>
  <p>name <%= current_user.name %></p>
  <p><%= current_user.introduction %>introduction</p>
    <%= link_to "Edit", edit_user_path(current_user.id) %>
</div>

<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prihibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>New book</h1>
  <%= form_with model: @book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit 'CreateBook' %>
  <% end %>
<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <p><%= image_tag 'no_image' %></p>
  <p>
    <%= link_to book_path(book.id) do %>
      <%= book.title %>
    <% end %>
  </p>
  <p><%= book.body %></p>
<% end %>
</div>